<center>  
  <%= form_for @profile do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class= "row">
      <div class= "col-md-6", align= "left", style= "margin: -4px 115px 0px;">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %><br />
        </div>

       <!--  <div class="field">
          <%#= f.label :email %><br />
          <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
 -->
        <div class="field">
          <%= f.label :state %><br />
          <%= f.text_field :state %><br />
        </div>

        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city %><br />
        </div>

        <div class="field">
          <%= f.label :zip_code %><br />
          <%= f.text_field :zip_code %><br />
        </div>

        <div class="field">
          <%= f.label :director %><br />
          <%= f.text_field :director %><br />
        </div>
      </div>
      <div class="col-sm-6", align= "left", style= "margin: -253px 620px 0px;">
        <div class="field">
          <%= f.label :no_of_children %><br />
          <%= f.text_field :no_of_children %><br />
        </div>

        <div class="field">
          <%= f.label :no_of_staff %><br />
          <%= f.text_field :no_of_staff %><br />
        </div>


        <div class="field">
          <%= f.label :established %><br />
          <%= f.text_field :established %><br />
        </div>


        <div class="field">
          <%= f.label :area %><br />
          <%= f.text_field :area %><br />
        </div>

        <div class="field">
          <%= f.label :image %><br />
          <%= f.file_field :image %><br />
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</center>