<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @profile.image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>No of children:</strong>
  <%= @profile.no_of_children %>
</p>

<p>
  <strong>No of staff:</strong>
  <%= @profile.no_of_staff %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Established:</strong>
  <%= @profile.established %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Area:</strong>
  <%= @profile.area %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @profile.zip_code %>
</p>

<p>
  <strong>Director:</strong>
  <%= @profile.director %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
