<center>  
      <h1><%= user.name %> Details</h1>
    <p id="notice"><%= notice %></p>
    <div class= "row">
      <div class= "col-md-6">
        <%= image_tag @user.image.url, class: "pic" %>
      </div>
      <div class= "col-md-6", align= "left", style= "margin: -4px 250px 0px;">
        <p>
        <strong>Name:</strong>
        <%= user.name %>
        </p>

        <p>
          <strong>email:</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>state:</strong>
          <%= @user.state %>
        </p>

        <p>
          <strong>city:</strong>
          <%= @user.city %>
        </p>

        <p>
          <strong>zip_code:</strong>
          <%= @user.zip_code %>
        </p>

        <p>
          <strong>address:</strong>
          <%= @user.address %>
        </p>

        <p>
          <strong>director:</strong>
          <%= @user.director %>
        </p>

        <p>
          <strong>Total children:</strong>
          <%= @user.no_of_children %>
        </p>

        <p>
          <strong>Total Staff:</strong>
          <%= @user.no_of_staff %>
        </p>

        <p>
          <strong>Established:</strong>
          <%= @user.established %>
        </p>

        <p>
          <strong>S/F Area:</strong>
          <%= @user.area %>
        </p>

        <%= link_to 'Edit', home_edit_profile_path, class: "btn btn-primary" %> 
      </div>
    </div>
</center>