<center>	
	<p id="notice"><%= notice %></p>

	<p>
	  <%= image_tag @event.image.url, class: "image" %>
	</p>
	<div align= "left", style= "margin: -4px 250px 0px;">
	<p>
	  <strong>Name:</strong>
	  <%= @event.name %>
	</p>

	<p>
	  <strong>Type:</strong>
	  <%= @event.event_type %>
	</p>

	<p>
	  <strong>Name:</strong>
	  <%= @event.description %>
	</p>
    </div>
</center>