<p id="notice"><%= notice %></p>
<h1>Reports</h1>
<table class="table product-overview">
  <thead>
    <tr>
      <th>Index</th>
      <th>Child Name</th>
      <th>Child Code</th>
      <th>Donor ID</th>
      <th>Activity</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_reports.each do |admin_report| %>
      <tr>
        <td><%= admin_report.id %></td>
        <td><%= admin_report.child_name %></td>
        <td><%= admin_report.child_code %></td>
        <td><%= admin_report.donor_id %></td>
        <td><%= link_to 'View Details', admin_report, class: "btn btn-primary" %>
          <%= link_to 'Create Report' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    