<p id="notice"><%= notice %></p>

<p>
  <strong>Donar name:</strong>
  <%= @certificate.donar_name %>
</p>

<p>
  <strong>Donation amount:</strong>
  <%= @certificate.donation_amount %>
</p>

<p>
  <strong>Sponsored child code:</strong>
  <%= @certificate.sponsored_child_code %>
</p>

<p>
  <strong>Sponsored child name:</strong>
  <%= @certificate.sponsored_child_name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @certificate.month %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @certificate.issue_date %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
