<center> 
  <%= form_for @report do |form| %>
    <div class= "col-md-6", align= "left">
      <div class="field">
        <%= form.label :child_name %><br>
        <%= form.text_field :child_name, id: :report_child_name %>
      </div>

      <div class="field">
        <%= form.label :child_code %><br>
        <%= form.text_field :child_code, id: :report_child_code %>
      </div>

      <div class="field">
        <%= form.label :donor_id %><br>
        <%= form.number_field :donor_id, id: :report_donor_id %>
      </div>

      <div class="field">
        <%= form.label :donation_month %><br>
        <%= select_month(Date.today) %>

      </div>

      <div class="field">
        <%= form.label :date %><br>
        <%= form.date_select :date, id: :report_date %>
      </div>

      <div class="field">
        <%= form.label :paid %><br>
        <%= form.text_field :paid, id: :report_paid %>
      </div>

      <div class="field">
        <%= form.label :sent_by %><br>
        <%= form.text_field :sent_by, id: :report_sent_by %>
      </div><br>

      <div class="actions">
        <%= form.submit "send", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</center>