<center> 
  <h1><b> Report Detail's Page </b></h1>
  <div class= "square" align= "left"> 
    <p id="notice"><%= notice %></p>
    <table style="width:100%">
      <tr >
        <th padding="10px">Child name:</th>
        <td><%= @admin_report.child_name %></td>
      </tr>
      <tr>
        <th>Child code:</th>
        <td><%= @admin_report.child_code %></td>
      </tr>
      <tr>
        <th>Donor:</th>
        <td><%= @admin_report.donor_id %></td>
      </tr>
      <tr>
        <th>Donation month:</th>
        <td><%= @admin_report.donation_month %></td>
      </tr>
      <tr>
        <th>Date:</th>
        <td><%= @admin_report.date %></td>
      </tr>
      <tr>
        <th>Paid:</th>
        <td><%= @admin_report.paid %></td>
      </tr>
      <tr>
        <th>Sent by:</th>
        <td><%= @admin_report.sent_by %></td>
      </tr>
    </table>
  </div>
  <p id="pdf_link"><%= link_to "Download Invoice (PDF)",  admin_report_path(@admin_report, :format => "pdf") %></p>
</center>